<launch>
  <!-- Arguments 
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="robot_odom" />
  <arg name="move_forward_only" default="false"/>
  -->

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">

    <rosparam file="$(find social_sim_ros)/params/kuri/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find social_sim_ros)/params/kuri/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find social_sim_ros)/params/kuri/map_nav_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find social_sim_ros)/params/kuri/map_nav_params/global_costmap_params.yaml" command="load" />
    

    <rosparam file="$(find teb_turtle3_navigation)/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find teb_turtle3_navigation)/move_base_params.yaml" command="load" />
	
    <!--
    <param name="base_global_planner" value="simple_global_planner/SimpleGlobalPlanner" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> 
    
    <remap from="odom" to="$(arg odom_topic)"/>
    -->
    
    <remap from="cmd_vel" to="mobile_base_controller/cmd_vel" />
  </node>
  
  <node pkg="social_sim_ros" type="pose_to_people" name="pose_to_people" output="screen"/>

</launch>
